<div class="container-fluid">
  <div class="row">
    <%= render 'shared/admin/sidebar' %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-0">
      <%= render 'shared/admin/navbar' %>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-3 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="content px-3">
        <h2>Section title</h2>
      </div>
    </main>
  </div>
</div>
