@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



$primary-font: 'Montserrat', sans-serif;
.primary-font{
  font-family: $primary-font;
}


.blue-100{
  background-color: $blue-100;
}


/*
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
Font Styling
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
*/
.fs-xs{
  font-size: 14px;
}




/*
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
Generic Styling
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
*/
body{
  font-family: $primary-font;
  background-color: $gray-100;
}


.two-columns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 10rem;
}



/*
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
Navbar
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
*/

.navbar{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: .5px;
  .dropdown-menu[data-bs-popper]{
    padding: 0;
    border: 0px;
    border-radius: 0;
    margin-top: .6rem;
    min-width: 15rem;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, .2);
    .dropdown-item{
      padding: 0.65rem 1rem;
    }
  }
}

.card{
  border: 0;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, .2);
}



/*
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
Footer
-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
*/
footer{
  background-color: $blue-100;
  ul{
    li{
      margin-bottom: .5rem;
      a{
        color: #6c757d;
        font-size: 14px;
      }
    }
  }
}




/*
----------------------------------------
Login Page Styling
----------------------------------------
*/
.login{
  background-color: $blue-100;
}




/*
----------------------------------------
Login Page Styling
----------------------------------------
*/





/*
----------------------------------------
Offcanvas Styling
----------------------------------------
*/
/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  .nav-item{font-size: .75rem;}
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */


.navbar .navbar-toggler {
  top: .85rem;
  right: 1rem;
  left: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}








@media (max-width:767.98px) {
  .navbar-brand{
    position: relative;
    left: 30%;
  }
  .navbar-toggler{
    left: 0;
  }
  .sidebar{
    top: 0;
  }
}