<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
  <div class="container-fluid">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-grip-vertical" viewBox="0 0 16 16">
        <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </button>

    <div class="dropdown ms-auto py-3">
      <% if user_signed_in? %>
        <%= link_to '', class: 'text-link dropdown-toggle text-decoration-none', id: 'dropdownMenuButton1', 'data-bs-toggle'=> 'dropdown', 'aria-expanded' => "false"  do %>
          <i class="bi bi-person-bounding-box"></i>
          <span class="d-none d-sm-inline-block"><%= current_user.email %></span>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-end mt-0" aria-labelledby="dropdownMenuButton1">
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>



<%# <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</header> %>